<p>こんにちは <%= @resource.email %> さん！</p>

<p>パスワードをリセットするには、以下のリンクをクリックしてください。</p>

<p>
  <%= link_to "パスワードをリセットする", 
  "https://www.task-yell.jp/password-reset?reset_password_token=#{@token}" %>
</p>

<p>このメールに心当たりがない場合は、無視してください。</p>
<p>パスワードを変更しない限り、アカウントに影響はありません。</p>
